.width_50 {
      width: 50%;
}
.width_30 {
      width: 30%;
}
.width_60 {
      width: 60%;
}
.width_100 {
      width: 100%;
}

.flex_grow_2 {
      flex-grow: 2;
}

.center {
      justify-content: center;
      text-align: center;
      align-items: center;
}

.start {
      justify-content: start !important;
      text-align: start !important;
}

.between {
      justify-content: space-between;
}

.gap4 {
      gap: 4rem;
}

.gap1 {
      gap: 1rem;
}

.margin_block_0 {
      margin-block-start: 0;
      margin-block-end: 0;
}

.margin_block_02 {
      margin-block-start: 0.2rem;
      margin-block-end: 0.2rem;
}

.page {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 1rem;
}

.padding_0 {
      padding: 0!important;
}
.padding_1000 {
      padding: 1rem 0 0 0 !important;
}
.padding_2000 {
      padding: 2rem 0 0 0 !important;
}
.padding_3101 {
      padding: 3rem 1rem 0 1rem !important;
}
.padding_5050 {
      padding: 5rem 1rem 5rem 1rem !important;
}

.text_decor_none {
      text-decoration: none;
}

.with_icon {
      display: flex;
      gap: 0.2rem;
      align-items: center;

      & svg {
            width: 22px;
            height: 22px;
      }
}

.flex {
      display: flex;
}

.marginTop {
      margin: 4rem auto;
}
.marginTop1 {
      margin: 1rem auto;
}

.secondary {
      color: var(--text-2-color);
}

.big_avatar {
      width: 50%;
      aspect-ratio: 1/1 !important;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid var(--divider-color);
      box-shadow: 0 0 0 1px var(--element-bg-2);
}

.flex_grow_0 {
      flex-grow: 0 !important;
}

.bold_text {
      font-weight: bold;
}

@media screen and (max-width: 800px){
      .flex_container {
            flex-direction: column !important;
      }

      .width_50 {
            width: 100%;
      }
      .width_30 {
            width: 100% !important;
            max-width: 100% !important;
      }
      .width_60 {
            width: 100%;
      }
}