.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  flex-grow: 0;

  & div {
    height: fit-content;
    user-select: none;
  }

  & div:last-child {
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: start;
  }
}