:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  min-height: 100vh;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--app-bg);
  place-items: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*place-items: center;*/
  /*width: 100vw;*/
  /*min-height: 100vh;*/
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: var(--app-bg);
  color: var(--text-color);
  overflow-x: hidden;
}

/*body[data-theme="light"] {*/

@media (prefers-color-scheme: dark) {
  body {
    --app-bg: #1C1E23;
    --app-contrast-bg: #895dff;
    --element-bg: #232935;
    --element-bg-semi-transparent: rgba(35, 41, 53, 0.8);
    --element-bg-2: #2C3549;
    --element-bg-contrast: #1B57B2;

    --text-color: #F4F4F4;
    --text-2-color: #9EA6BB;
    --text-link-color: #9961ff;
    --text-blind-color: #515B6D;
    --text-contrast-color: #BABBBD;
    --primary-color: #502cb2;
    --primary-dark-color: #7c4bff;
    --primary-light-color: #3A84F3;

    --divider-color: #394358;

    --accent-color-yellow: #FDC51F;
    --accent-dark-color-yellow: #F1B400;
    --accent-light-color-yellow: #FFDA6D;
    --accent-color-red: #FF6363;
    --accent-dark-color-red: #E44444;
    --accent-light-color-red: #FF8A8A;

    --gray-color-1: #282D40;
    --gray-color-2: #4D536A;
    --gray-color-3: #3C4257;
    --gray-color-4: #313745;
    --gray-color-5: #313649;
    --gray-color-6: #33384A;
    --gray-color-7: #2B3044;
  }
}




@media (prefers-color-scheme: light) {
  body {
    --app-bg: #F4F4F4;
    --app-contrast-bg: #502cb2;
    --element-bg: #FFFFFF;
    --element-bg-semi-transparent: rgba(255, 255, 255, 0.8);
    --element-bg-2: #E7E9ED;
    --element-bg-contrast: #502cb2;

    --text-color: #38424F;
    --text-2-color: #80889D;
    --text-link-color: #9961ff;
    --text-blind-color: #C7C9CF;
    --text-contrast-color: #FFFFFF;
    --primary-color: #502cb2;
    --primary-dark-color: #0E468B;
    --primary-light-color: #9961ff;

    --divider-color: #D2DAE3;
    --gray-color-1: #D3DBE0;
    --gray-color-2: #D3DBE7;
    --gray-color-3: #E7E9ED;
    --gray-color-4: #E9EDF2;
    --gray-color-5: #EDEEF0;
    --gray-color-6: #F1F4F9;
    --gray-color-7: #F7F8FB;

    --accent-color-yellow: #FDC51F;
    --accent-dark-color-yellow: #F1B400;
    --accent-light-color-yellow: #FFDA6D;
    --accent-color-red: #FF6363;
    --accent-dark-color-red: #E44444;
    --accent-light-color-red: #FFA9A9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
