.container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  box-sizing: border-box;

  display: flex;
  gap: 1rem;

  &.vertical {
    flex-direction: column;
  }
  &.horizontal {
    flex-direction: row;
  }

  & div, form {
    flex-grow: 1;
  }
}

@media screen and (max-width: 920px) {
  .container.isAdaptive {
    &.vertical {
      flex-direction: row;
    }
    &.horizontal {
      flex-direction: column;
    }
  }
}